body {
  font-family: "Roboto", sans-serif;
  background-color: #685e67;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.card-embed {
  width: 100%;
  max-height: 400px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.card {
  color: black;
  font-family: ;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px 0;
  border-radius: 20px;
}

.card h4,
h5 {
  font-family: "Playfair Display", serif;
}

.card-body {
  padding: 30px;
}
.card-header {
  margin: 10px;
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #144428;
  text-decoration: none;
  border-radius: 20px;
}

section {
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/img4.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
section.secondary h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.text-center {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 128px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  display: inline-block;
  margin-top: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  background-color: darkslategray;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 20px;
}

main {
  background-color: white;
}

main h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #195030;
  padding: 2px 6px;
  gap: 10px;
  background: rgba(65, 79, 75, 0.1);
  width: 170px;
  height: 24px;
}

main h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;

  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 64px;
  }

  header h2 {
    font-size: 15px;
  }

  header h3 {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
